body {
  position: relative;
  margin: 0;
  height: 100vh;
}

.card {
  /* display: flex; */
  border-radius: 8px;
  border: 1px solid #DBDBDB;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(137, 137, 137, 0.05);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  position: absolute;
  top: 96px;
  right: 700px;
  bottom: 346px;
  left: 264px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container>p-card {
  flex-basis: calc(50% - 10px);
  /* Adjust the 10px to account for margin or padding */
  margin-bottom: 40px;
  /* This adds space between the rows */
}

.cardheader {
  color: #4B4B4B;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 137.5% */
  letter-spacing: 0.5px;
}

h3 {
  color: #4B4B4B;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 137.5% */
  letter-spacing: 0.5px;
  margin-top: 10px;
  text-align: left;
}

.icon {
  margin-bottom: 3px;
}

.icon-background {
  background-color: #FCF1E7;
  width: 35px;
  height: 30px;
  border-radius: 5px;
  margin-top: -5px;
}

.icon1-background {
  background-color: #FFE7E7;
  width: 35px;
  height: 30px;
  border-radius: 5px;
  margin-top: -5px;
}

.icon3-background {
  background-color: #FFFFD7;
  width: 35px;
  height: 30px;
  border-radius: 5px;
  margin-top: -5px;
}

.icon4-background {
  background-color: #E1F4FF;
  width: 35px;
  height: 30px;
  border-radius: 5px;
  margin-top: -5px;
}

::ng-deep .progressbar1 .p-progressbar {
  border-radius: 30px;
  width: 226px;
  height: 6px;
  background: #FCF1E7;
  margin-top: -5px;
}

::ng-deep .progressbar1 .p-progressbar .p-progressbar-value {
  background: #F8A45A;
}

::ng-deep .progressbar2 .p-progressbar {
  border-radius: 30px;
  width: 226px;
  height: 6px;
  background: #FFE7E7;
  margin-top: -5px;
}

::ng-deep .progressbar2 .p-progressbar .p-progressbar-value {
  background: #E56875;
}

.p1-text {
  color: #F8A45A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 137.5% */
  letter-spacing: 0.5px;
  margin-top: 10px;
  text-align: left;
}

.p2-text {
  color: #E56875;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 137.5% */
  letter-spacing: 0.5px;
  margin-top: 10px;
  text-align: left;
}

.p3-text {
  color: #C7C73A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 137.5% */
  margin-top: -5px;
  text-align: left;
}

.p4-text {
  color: #65BCF0;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 137.5% */
  letter-spacing: 0.5px;
  margin-top: -5px;
  text-align: left;
}

/* ------------------------------------------- */
.grid-container {
  display: grid;
  gap: 40px;
  padding: 10px;
  margin-top: -10px;
}

.grid-container0 {
  display: grid;
}

.grid-container1 {
  display: grid;
  width: 200px;
}

.grid-item {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  border-radius: 8px;

  border-radius: 8px;
  border: 1px solid #DBDBDB;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(137, 137, 137, 0.05);
}

.grid-item1 {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.header {
  grid-column: 1 / span 3;
  grid-row: 1;
  height: 64px;
}

.itemheader {
  color: #252525;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  margin-top: -8px;
}

.itemp {
  color: #757E81;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.item0 {
  grid-column: 1 / span 3;
  margin-left: -35px;
}

.item1 {
  grid-row: 1;
  width: 266px;
  height: 131px;
  flex-shrink: 0;
}

.item2 {
  width: 266px;
  height: 131px;
  flex-shrink: 0;
}

.item3 {
  grid-row: 2;
  width: 266px;
  height: 118px;
}

.item4 {
  grid-row: 2;
  width: 266px;
  height: 118px;
}

.item5 {
  grid-row: 1 / span 2;
  grid-column: 3 /span 4;
  width: 535px;
  height: 293px;
}

.item6 {
  grid-column: 1;
  grid-row: 3;
  width: 266px;
  height: 262px;
}

.item7 {
  grid-column: 2 / span 5;
  grid-row: 3;
  width: 841px;
  height: 258px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}



/* ------------------------------------------------- */

.reservation-list {
  list-style: none;
  width: 266px;
  height: 250px;
  margin-top: -20px;
  margin-left: -60px;
}

.reservation-item {
  border-top: 1px solid #DBDBDB;
  height: 66px;
  width: 266px;
  padding-left: 20px;
}

.reservation-item h5 {
  color: #4B4B4B;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  letter-spacing: 0.5px;
  margin-top: 11px;

}

.reservation-item p {
  color: #4B4B4B;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  letter-spacing: 0.5px;
  margin-top: -22px;
}

/* ------------------------------------------------------- */

.table {
  width: 841px;
  height: 258px;
  border-radius: 8px;
  border: 0.5px solid #DBDBDB;
  box-shadow: 0px 4px 4px 0px rgba(137, 137, 137, 0.05);
  margin-top: -20px;
  margin-left: -20px;
}

.table td {
  text-align: center;
  /* Center text horizontally */
  vertical-align: middle;
  /* Center text vertically */
  color: #4B4B4B;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 183.333% */
  letter-spacing: 0.5px;
  border: 0.5px solid #DBDBDB;
  background: #FFF;

}

.table th {
  text-align: center;
  /* Center text horizontally */
  vertical-align: middle;
  color: #4B4B4B;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 157.143% */
  letter-spacing: 0.5px;
  border: 0.5px solid #DBDBDB;
}

.status-success {
  color: #0B8700 !important;
}

.status-failed {
  color: red !important;
}

.table-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #AAA;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 183.333% */
  letter-spacing: 0.5px;
  padding-left: 400px;
}

.page-button:hover {
  background-color: #FFF2E6;
  color: #F8A45A;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 183.333% */
  letter-spacing: 0.5px;
  border: 0.5px solid #F8A45A;
  border-radius: 100% !important;
}

.page-button {
  border: none;
  padding: 5px 20px;
  margin: 0 2px;
  /* cursor: pointer; */
  background: none;
  color: #AAA;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 183.333% */
  letter-spacing: 0.5px;
}

::ng-deep .p-table {
  height: 258px;
}
/* ----------------------------------------------------------------------------- */

.header {
  grid-column: 1 / -1;
}

/* Medium screens */
@media (min-width: 768px) {
  .md\\:col-6 {
    width: 50%;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .lg\\:col-3 {
    width: 25%;
  }
  .lg\\:col-9 {
    width: 75%;
  }
}

@media (min-width: 2560px) {
  .grid-container0 {
    max-width: 2560px;
    margin: 0 auto;
  }
  .xl\\:col-2 {
    grid-column: span 2;
  }
  .xl\\:col-10 {
    grid-column: span 10;
  }
}
